spring:
  datasource:
    dynamic:
      primary:
      datasource:
        # ??
        master:
          url: jdbc:mysql///test_orders?useSSL=false&useUnicode=true&characterEncoding=UTF-8
          driver-class-name: com.mysql.cj.jdbc.Driver
          username: root
          password: password

        # ??
        slave_1:
          url: jdbc:mysql///test_orders_01?useSSL=false&useUnicode=true&characterEncoding=UTF-8
            driver-class-name: com.mysql.cj.jdbc.Driver
            username: root
            password: password

        # ??
        slave_2:
          url: jdbc:mysql///test_orders_02?useSSL=false&useUnicode=true&characterEncoding=UTF-8
            driver-class-name: com.mysql.cj.jdbc.Driver
            username: root
            password: password

# mybatis ????
mybatis:
  config-location: classpath:mybatis-config.xml # ?? MyBatis ??????
  mapper-locations: classpath:mapper/*.xml # ?? Mapper XML ??
  type-aliases-package: com.example.dynamicdatasource.dataobject # ??????????